<div ng-app="dtWhiteboard" class="navbar navbar-default navbar-fixed-top">
    <div id="menu">
        <div class="navbar-header">
            <div class="navbar-brand logo hidden-xs"><span class="brand-title">Dogtail Whiteboard</span></div>
            <div class="navbar-brand logo visible-xs"><span class="brand-title">Dogtail Whiteboard</span></div>
            <button class="btn btn-xs navbar-toggle" data-toggle="collapse" data-target=".topnavbar">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse topnavbar" style="padding-right:20px">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav" data-toggle="collapse" data-target=".topnavbar"><a ng-click="onConnectOnline()" href="">{{connectToOnlineWhiteboardText}}</a></li>
                <!--<li class="nav" data-toggle="collapse" data-target=".topnavbar"><a ng-click="onShowLogIn()" href="">{{loginText}}</a></li>-->
                <!--<li class="nav" data-toggle="collapse" data-target=".topnavbar"><a ng-click="onShowRegister()" href="">{{registerText}}</a></li>-->
                <li class="nav" data-toggle="collapse" data-target=".topnavbar"><a ng-click="onContact()" href="">{{contactText}}</a></li>
            </ul>
        </div>
    </div>
</div>