<div data-ng-controller="TopNavBar as vm" class="navbar navbar-default navbar-fixed-top">
    <div id="menu">
        <div class="navbar-header">
            <div class="navbar-brand logo hidden-xs"><span class="brand-title">Dogtail Whiteboard TypeScript</span></div>
            <div class="navbar-brand logo visible-xs"><span class="brand-title">Dogtail Whiteboard TypeScript</span></div>
            <button class="btn btn-xs navbar-toggle" data-toggle="collapse" data-target=".topnavbar">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse topnavbar" style="padding-right:20px">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav" data-toggle="collapse" data-target=".topnavbar"><a ng-click="vm.onConnectOnline()" href="">{{vm.connectToOnlineWhiteboardText}}</a></li>
                <li class="nav" data-toggle="collapse" data-target=".topnavbar"><a ng-click="vm.onContact()" href="">{{vm.contactText}}</a></li>
            </ul>
        </div>
    </div>
</div>