/*@bgColor : red;
@footerHeight: 60px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: @footerHeight;
    padding-top: 70px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @footerHeight;
    background-color: @bgColor;
}*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-red {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
    margin-right: 5px;
}

    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active,
    .btn-red.active {
        color: #fff;
        background-color: #e60000;
        border-color: #cc0000;
    }

    .btn-red.disabled:hover,
    .btn-red.disabled:focus,
    .btn-red.disabled:active,
    .btn-red.disabled.active,
    .btn-red[disabled]:hover,
    .btn-red[disabled]:focus,
    .btn-red[disabled]:active,
    .btn-red[disabled].active,
    fieldset[disabled] .btn-red:hover,
    fieldset[disabled] .btn-red:focus,
    fieldset[disabled] .btn-red:active,
    fieldset[disabled] .btn-red.active {
        background-color: #ff0000;
        border-color: #ff0000;
    }

.btn-green {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
    margin-right: 5px;
}

    .btn-green:hover,
    .btn-green:focus,
    .btn-green:active,
    .btn-green.active {
        color: #fff;
        background-color: #006700;
        border-color: #004d00;
    }

    .btn-green.disabled:hover,
    .btn-green.disabled:focus,
    .btn-green.disabled:active,
    .btn-green.disabled.active,
    .btn-green[disabled]:hover,
    .btn-green[disabled]:focus,
    .btn-green[disabled]:active,
    .btn-green[disabled].active,
    fieldset[disabled] .btn-green:hover,
    fieldset[disabled] .btn-green:focus,
    fieldset[disabled] .btn-green:active,
    fieldset[disabled] .btn-green.active {
        background-color: #008000;
        border-color: #008000;
    }

.btn-blue {
    color: #fff;
    background-color: #0000ff;
    border-color: #0000ff;
    margin-right: 5px;
}

    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active,
    .btn-blue.active {
        color: #fff;
        background-color: #0000e6;
        border-color: #0000cc;
    }

    .btn-blue.disabled:hover,
    .btn-blue.disabled:focus,
    .btn-blue.disabled:active,
    .btn-blue.disabled.active,
    .btn-blue[disabled]:hover,
    .btn-blue[disabled]:focus,
    .btn-blue[disabled]:active,
    .btn-blue[disabled].active,
    fieldset[disabled] .btn-blue:hover,
    fieldset[disabled] .btn-blue:focus,
    fieldset[disabled] .btn-blue:active,
    fieldset[disabled] .btn-blue.active {
        background-color: #0000ff;
        border-color: #0000ff;
    }

.btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin-right: 5px;
}

    .btn-black:hover,
    .btn-black:focus,
    .btn-black:active,
    .btn-black.active {
        color: #fff;
        background-color: #000000;
        border-color: #000000;
    }

    .btn-black.disabled:hover,
    .btn-black.disabled:focus,
    .btn-black.disabled:active,
    .btn-black.disabled.active,
    .btn-black[disabled]:hover,
    .btn-black[disabled]:focus,
    .btn-black[disabled]:active,
    .btn-black[disabled].active,
    fieldset[disabled] .btn-black:hover,
    fieldset[disabled] .btn-black:focus,
    fieldset[disabled] .btn-black:active,
    fieldset[disabled] .btn-black.active {
        background-color: #000000;
        border-color: #000000;
    }
